
          <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <img class="rounded-5 mx-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhcQOELq6kmpz0Vo6mZaFcOdzkvSqVU_RhF4L73hYzag&s" width="80px;">

                <h3 class="text-success font-weight-bolder me-3 ">Rick & Morty</h3>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a routerLink="/character" class="nav-link px-2 text-white">Personnages</a></li>
                  <li><a routerLink="/character/episode" class="nav-link px-2 text-white">Episodes</a></li>
                </ul>
<!--                <div class="text-end">-->
<!--                  <a *ngIf="!(token$ | async)" routerLink="/connexion" class="btn btn-outline-light me-2">Connexion</a>-->

<!--                  <ng-container *ngIf="token$ | async">-->
<!--                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle mx-2">-->
<!--                    <a routerLink="/mon-profil" class="btn btn-outline-light mx-1">Mon profil</a>-->
<!--                    <button (click)="onClickLogout()" class="btn btn-outline-light mx-1">Me déconnecter</button>-->
<!--                  </ng-container>-->
<!--                </div>-->
              </div>
            </div>

            <button
              *ngIf="isConnected$ | async"
              (click)="onClickLogout()"
              class=" btn btn-outline-light btn-animate  position-absolute top-0 end-0 me-2 mt-3">
              ME DECONNECTER
            </button>
<!--            <div class="me-2 mt-3">-->
<!--              <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Rechercher par nom">-->


<!--            </div>-->
<!--            <div class="mx-1-3 mt-3 ">-->
<!--<form>-->
<!-- &lt;!&ndash;[formGroup]="searchForm">&ndash;&gt;-->
<!--                <input class="border-warning "-->
<!--                       type="text"-->
<!--                       placeholder="Filter le tableau"-->
<!--                       formControlName="search"-->

<!--                /></form>-->
<!--            </div>-->
          </header>
